	body{background-color:#5CD6D6;}
	div{position:absolute;left:70px;top:70px;}
	h2{color:red;}
	a{text-decoration:none;position:absolute;left:30px;background-color:pink;padding:5px;border:1px solid lime;}
	
	